* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    background-color: black;
    padding: 10px;
    border: 1px solid white;
    font-family: Arial, Helvetica, sans-serif;
}

.buscador{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 50px;
}

#buscador{
    text-align: center;
}
    

label {display: block;}
input, button {padding: 5px;}
input {width: 30%;}

footer {
    background-color: black;
    border: 1px solid white;
    padding: 5px;
    text-align: center;
}

#instagram{
    width: 25px;
    margin-left: 5px;
    margin-top: 4px;
}

#linkedin{
    width: 25px;
}

#github{
    width: 30px;
}

body {
    background-image: url(./assets/fundo.jpeg);
    background-position: top center;
    background-size: 100% auto;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h3 ,h5, h6{
    color: white;
}

img{
    width: 300px;   
}

 section{
    color: black;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
}

.card{
    position: relative;
    margin: 30px;
    perspective: 1000px;
}

.card .flip{
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.card:hover .flip{
    transform: rotateY(180deg);
}

#freeza-frente, #vegeta-frente, #goku-frente, #gogeta-frente, #jiren-frente{
    position: absolute;
}

.front-card, .back-card{
    backface-visibility: hidden;
}

.back-card{
    transform: rotateY(180deg);
}

.front-card img, .back-card img{
    border-radius: 10px;
}